
*.o
*.output
*.log
*.trs

Makefile
Makefile.in

sql.tab.*
sql.lex.h
sql.c
sql

libtool
configure
stamp-h1
autom4te.cache/
.deps/
aclocal.m4
config.log
config.status

libsqlpars-uninstalled.pc
libsqlpars.pc
sqlpars-config.h*

build-aux/
